<h1><%=@category%></h1>

<p><%=@card%>:</p>


<form method="post" action="/rounds/next">
  <input type="text" name="@guess" placeholder="answer">
  <input type="submit" value="submit your guess">
</form>

<p><%=@guess%>:</p>
